@import "config";
@import "menu";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  font-family: "Barlow", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  @include bg;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;

  &.heading {
    font-size: 6rem;
  }

  &.subheading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }

  span.dev {
    color: $tertiary-color;
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-tertiary {
  color: $tertiary-color;
}

.surname-text {
  color: $tertiary-color;
  display: inline-block;
  &:hover {
    transform: skew(-0.06turn, 18deg);
  }
}

main {
  padding: 5rem;
  min-height: calc(100vh - 60px);
  width: 100%;
  z-index: 100;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img.home-img {
    z-index: -10;
    position: absolute;
    inset: 0 0 0 0;
    max-height: 100vh;
    width: 100%;
  }

  h2.subheading {
    margin-bottom: 1rem;
  }

  .icons {
    transition: all 0.25s ease-out;
    padding: 0 0 0 0.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.25rem;

    a {
      padding: 0.5rem;
      font-size: 2.2rem;

      &:last-of-type {
        font-size: 2.4rem;
      }

      &:hover {
        color: $tertiary-color;
        transform: skew(-0.06turn, 18deg);
      }

      &:nth-child(even):hover {
        transform: skew(0.06turn, -18deg);
      }
    }
  }

  &#about,
  &#projects,
  &#contact {
    .subheading {
      padding-left: 0;
      margin-bottom: 2rem;
    }
  }
}

footer {
  height: 60px;
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
}

// About
.about-wrapper,
.project-wrapper,
.contact-wrapper {
  width: 90%;
  margin: 0 auto;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  margin-top: 6rem;
  width: 85%;
}

.about-img {
  border-radius: 50%;
  border: $tertiary-color 3px solid;
  height: 335px;
  width: 335px;
  animation: fadeIn 0.5s ease-out;

  &:hover {
    box-shadow: 0 0 40px 30px $tertiary-color-light;
    transform: scale(1.015);
  }
}

.bio {
  font-size: 1.5rem;

  p {
    font-size: 1.4rem;
  }
}

// Projects
.project-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project {
  background: lighten($primary-color, 7);
  padding: 1rem;
  border-bottom: $tertiary-color 5px solid;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;

  img {
    border-radius: 6px;
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
    cursor: pointer;
    animation: fadeIn 0.5s ease-out;
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &-links {
    display: flex;

    a button {
      border: none;
      padding: 0.4rem 0.7rem;
      color: #fff;
      cursor: pointer;
      margin-bottom: 0.5rem;
      border-radius: 4px;

      i {
        margin-right: 0.25rem;
      }
    }

    a:first-of-type button {
      background: lighten($primary-color, 25);
      margin-right: 0.2rem;

      &:hover {
        background: lighten($primary-color, 20);
      }
    }

    a:last-of-type button {
      background: darken($primary-color, 15);
      &:hover {
        background: darken($primary-color, 100);
      }
    }
  }

  .project-text {
    h3 {
      color: lighten($tertiary-color, 5);
      font-size: 1.3rem;
    }

    h4 {
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
  }

  &:hover {
    background: lighten($primary-color, 10);
    transform: scale(1.04);
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.4);
  }
}

// Contact

.contact-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-items {
  display: flex;
  gap: 2rem;
  color: #fff;

  div {
    font-size: 2rem;
    border: 3px solid white;
    border-radius: 6px;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: all 0.25s ease-out;

    &:hover {
      padding: 1.4rem 2.4rem;
      @include bg;
      background: linear-gradient(
          to bottom,
          rgba($primary-color, 0.65),
          rgba($primary-color, 0.65)
        ),
        url("https://ik.imagekit.io/dzs7huqkhng/codebkgrd_ODy65dcT9.webp?updatedAt=1625773403843?w-500,h-200");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      color: #fff;
      border-radius: 2px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    }

    &:not(:nth-child(3)) {
      margin-right: 2rem;
    }
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@import "mobile";
